.film-content {
  display: flex;

  .film-img {
    width: 30%;
    margin-right: $mg-1;

    img {
      width: 100%;
      display: block;
    }
  }
  .film-details {
    width: 70%;
    margin-left: $mg-1;

    h1 {
      @include styleText($fs-8, $fw-3, $color-white);
    }
  }
}
