.film-content {
  display: flex;
  .film-img {
    width: 30%;
    img {
      width: 100%;
      display: block;
    }
  }
  .film-details {
    width: 70%;
    h1 {
      @include styleText($fs-8, $fw-3);
    }
  }
}
