<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon"
    href="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.6435-1/p200x200/222962384_1192514064593966_355988139994644705_n.jpg?_nc_cat=108&ccb=1-4&_nc_sid=7206a8&_nc_ohc=vaVwO_Xy-u4AX9CaNGE&_nc_ht=scontent.fdad2-1.fna&oh=347d99b6532ee4eade32b7bea75ada9d&oe=61351871"
    type="image/gif" sizes="16x16">

  <title>Trang Phim</title>
  <!-- Font gg -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    rel="stylesheet">


  <!-- Main Css -->
  <link rel="stylesheet" href="../../assets/css/details.css">
</head>

<body>
  <!-- Header -->
  <header>
    <div class="header">
      <div class="logo-header">
        <h2>Thao</h2>
      </div>
      <div class="menu-header">
        <ul class="film-menu">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Series movie</a>
          </li>
          <li>
            <a href="#">Odd movie</a>
          </li>
          <li>
            <a href="#">Cinema</a>
          </li>
          <li>
            <a href="#">Animated cartoon</a>
          </li>
        </ul>
      </div>
    </div>

  </header>
  <!-- Carousel -->
  <section class="film-carousel">
    <div class="container">
      <div class="film-content">
        <div class="film-img">
          <img
            src="https://www.fullphimz.net/static/5fe2d564b3fa6403ffa11d1c/60de6d7faa1bb691e514b6d4_poster-anh-la-mua-xuan-cua-em.jpg"
            alt="">
        </div>
        <div class="film-details">
          <h1>Ten phim</h1>
          <a href="https://www.fullphimz.net/phim/anh-la-mua-xuan-cua-em-you-are-my-spring-2021#" class="btn"
            target="_blank">Xem
            Phim</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Content -->
  <section class="film-connect">
    <div class="container">
      <h1>Co then ban cung muon xem</h1>
      <div class="list-movie">

      </div>
    </div>
  </section>

  <section class="film-comments">
    <div class="container">
      <h1>Binh luan</h1>

      <div class="input-comments comments">
        <img
          src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.6435-1/p200x200/222962384_1192514064593966_355988139994644705_n.jpg?_nc_cat=108&ccb=1-4&_nc_sid=7206a8&_nc_ohc=vaVwO_Xy-u4AX-KAUUD&_nc_ht=scontent.fdad2-1.fna&oh=85a937c45939a27bf44668e4c5bdd528&oe=61351871"
          alt="">
        <textarea name="" id="comment" rows="10" placeholder="Comment"></textarea>
      </div>
      <div class="comments-content comments">
        <img
          src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.6435-1/p200x200/222962384_1192514064593966_355988139994644705_n.jpg?_nc_cat=108&ccb=1-4&_nc_sid=7206a8&_nc_ohc=vaVwO_Xy-u4AX-KAUUD&_nc_ht=scontent.fdad2-1.fna&oh=85a937c45939a27bf44668e4c5bdd528&oe=61351871"
          alt="">
        <div class="user-comment">
          <h3>Nguyen Thi My Kim</h3>
          <p>
            Phim do om vay
          </p>
        </div>
      </div>
    </div>
  </section>


  <footer>
    <p>© DoVanThao197</p>
  </footer>




  <!-- Main JS -->
  <script type="module" src="../controllers/details.js"></script>
  <script>
    window.location.replace("http://stackoverflow.com");




  </script>
</body>

</html>