<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang Phim</title>
  <!-- Font gg -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    rel="stylesheet">

  <!-- OWL -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Main Css -->
  <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
  <!-- Header -->
  <header>
    <div class="header">
      <div class="logo-header">
        <h2>Thao</h2>
      </div>
      <div class="menu-header">
        <ul class="film-menu">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Series movie</a>
          </li>
          <li>
            <a href="#">Odd movie</a>
          </li>
          <li>
            <a href="#">Cinema</a>
          </li>
          <li>
            <a href="#">Animated cartoon</a>
          </li>
        </ul>
      </div>
    </div>

  </header>
  <!-- Carousel -->
  <section class="film-carousel">
    <div class="carousel__img">
      <div class="owl-carousel owl-theme">
        <div class="item">

          <img src="https://media.voocdn.com/media/image/id/60f7f5580df9387346462128" alt="">

        </div>
        <div class="item">
          <img src="https://media.voocdn.com/media/image/id/610110ad0df9387946462219" alt="">
        </div>
        <div class="item">
          <img src="https://media.voocdn.com/media/image/id/60f4eb860df938ed2e60872e" alt="">
        </div>
        <div class="item">
          <img src="https://media.voocdn.com/media/image/id/610e23130df9388146462347" alt="">
        </div>
      </div>

    </div>
  </section>
  <!-- Content -->
  <section class="film-content">
    <div class="container">
      <div id="series-movie">
        <h3 class="header-section">Series movie</h3>
        <div class="list-movie">
          <div class="movie__item">
            <div class="movie__content">
              <img
                src="https://www.fullphimz.net/static/5fe2d564b3fa6403ffa11d1c/60de6d7faa1bb691e514b6d4_poster-anh-la-mua-xuan-cua-em.jpg"
                alt="">
              <p>Ten Phim</p>
            </div>
          </div>
          <div class="movie__item">
            <div class="movie__content">
              <img
                src="https://www.fullphimz.net/static/5fe2d564b3fa6403ffa11d1c/60de6d7faa1bb691e514b6d4_poster-anh-la-mua-xuan-cua-em.jpg"
                alt="">
              <p>Ten Phim</p>
            </div>
          </div>
          <div class="movie__item">
            <div class="movie__content">
              <img
                src="https://www.fullphimz.net/static/5fe2d564b3fa6403ffa11d1c/60de6d7faa1bb691e514b6d4_poster-anh-la-mua-xuan-cua-em.jpg"
                alt="">
              <p>Ten Phim</p>
            </div>
          </div>
          <div class="movie__item">
            <div class="movie__content">
              <img
                src="https://www.fullphimz.net/static/5fe2d564b3fa6403ffa11d1c/60de6d7faa1bb691e514b6d4_poster-anh-la-mua-xuan-cua-em.jpg"
                alt="">
              <p>Ten Phim</p>
            </div>
          </div>
          <div class="movie__item">
            <div class="movie__content">
              <img
                src="https://www.fullphimz.net/static/5fe2d564b3fa6403ffa11d1c/60de6d7faa1bb691e514b6d4_poster-anh-la-mua-xuan-cua-em.jpg"
                alt="">
              <p>Ten Phim</p>
            </div>
          </div>
          <div class="movie__item">
            <div class="movie__content">
              <img
                src="https://www.fullphimz.net/static/5fe2d564b3fa6403ffa11d1c/60de6d7faa1bb691e514b6d4_poster-anh-la-mua-xuan-cua-em.jpg"
                alt="">
              <p>Ten Phim</p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="odd-movie">
        <div class="list-movie"></div>
      </div>
      <div id="cinema">
        <div class="list-movie"></div>
      </div>
      <div id="animated-cartoon">
        <div class="list-movie"></div>
      </div>
    </div>
  </section>
  <div style="height: 1000px;"></div>
  <!-- JQUERY -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <!-- OWL -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 1
        },
        1000: {
          items: 1
        }
      }
    })
  </script>
</body>

</html>