.movie__item {
  cursor: pointer;
  transition: all 0.5s;
  display: grid;
  .movie__content {
    img {
      width: 100%;
      border-radius: 8px;
      height: 270.05px;
    }
    p {
      @include styleText($fs-2, $fw-2, $color-white);
    }
  }
  &:hover {
    transform: scale(1.2);
    p {
      @include styleText($fs-2, $fw-2, $color-orange-1);
    }
  }
}

// Off choi game chieu lam tiep
